Source: systemstate
Section: misc
Priority: optional
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 9),
               cmake,
               libboost-system-dev,
               qtbase5-dev,
               qtdeclarative5-dev
Standards-Version: 3.9.6

Package: systemstate
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: systemstate daemon
 systemstate daemon

Package: systemstate-tools
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         systemstate (= ${binary:Version})
Description: systemstate daemon tools
 systemstate daemon tools

Package: qml-module-crowd-systemstate
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libsystemstate-contextsubscriber1 (= ${binary:Version})
Description: QML module for systemstate
 QML module for systemstate

Package: systemstate-dbg
Priority: extra
Architecture: any
Section: debug
Depends: systemstate (= ${binary:Version}),
         systemstate-tools (= ${binary:Version}),
         ${misc:Depends}
Description: systemstate daemon debugging symbols
 This package contains the debugging symbols for systemstate

Package: systemstate-plugin-test
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         systemstate (= ${binary:Version})
Description: systemstate test plugin
 systemstate test plugin

Package: systemstate-plugin-test2
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         systemstate (= ${binary:Version})
Description: systemstate test2 plugin
 systemstate test2 plugin

Package: libsystemstate-contextsubscriber1
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         systemstate (= ${binary:Version})
Description: systemstate context subscriber library
 systemstate context subscriber library

Package: libsystemstate-contextsubscriber-dev
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libsystemstate-contextsubscriber1 (= ${binary:Version})
Description: systemstate context subscriber development library and headers
 systemstate context subscriber development library and headers
